body {
	background-color: rgb(198, 227, 238);
}
.header {
	margin: 0 auto;
	max-width: 1110px;
	border: 1px solid #000;
	box-shadow: 3px 3px;
	border-radius: 0.5em;
	background-color: rgb(157, 184, 207);
}
.headblock {
	margin: 0 auto;
	border: 2px solid rgb(126, 66, 66);
}
.buttons {
	display: flex;
	margin: 1%;
	justify-content: space-evenly;
	}
.buttons button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	padding: 1%;
	background-color: rgb(81, 101, 156);
	border-radius: 2ex;
}
button a {
	text-decoration-line: none;
	color: #000;
}

.banner {
	display: block;
	margin: 0 auto;
	max-width: 1110px;
	max-height: 10%;
	background-color: rgb(61, 153, 196);
	margin-top: 5px;
	border: 1px solid #000;
}

.banner__block {
	display: flex;
	justify-content: space-between;
}
.banner__logoname {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-height: 50%;
	margin-left: 10%;
	border: 1px solid rgb(190, 106, 106);
}
.banner__logoname p {
	font-size: 3vmax;
	color: brown;
	font-style: italic;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo_img {
	display: flex;
	align-items: center;
	max-height: 50%;
	margin: 5% 30% 5% 0;
}

.banner__help {
	display: block;
	font-size: 3vmax;
	color: brown;
	border: 2px dotted #000;
	border-radius: 3px;
	background-color: rgb(67, 115, 179);
	max-height: 10%;
	margin-right: 10%;
}
.banner__help p {
	display: block;
	font-size: 60%;
	border: 1px solid #000;
}
.banner__help a {
	text-decoration: none;
	color: #000;
	font-size: 120%;
}

.body {
	margin: 0 auto;
	max-width: 1113px;
	margin-top: 1px;
}
.body_block {
	display: flex;
	margin: 0 auto;
	margin-top: 1px;
}
.face {
	max-width: 30%;
	float: left;
	margin: 0 30px 30px 0;

}
.text {
	display: block;
	font-size: 3vh;	
}